:root {
  --primary-font: "Poppins", "Segoe UI", sans-serif;
  --body-bg-color: hsl(0, 4%, 89%);
  --main-bg-color: hsl(0, 0%, 100%);
  --label-color: hsl(0, 1%, 44%);
  --error-color: hsl(0, 100%, 67%);
  --purple-color: hsl(259, 100%, 65%);
  --divider-color: hsl(0, 0%, 86%);
  --button-hover-color: hsl(0, 0%, 0%);
  --placeholder-color: hsl(0, 0%, 58%);
  --lightgray-color: hsl(0, 0%, 83%);

  /*hsl(0, 0%, 94%)*/
}

html,
body,
.age__years-title,
.age__months-title,
.age__days-title {
  margin: 0;
}

html,
body,
.form__list {
  display: flex;
}

.form__label--error,
.input__error-text {
  color: var(--error-color);
}

.form__list,
.main__button {
  padding: 0;
}

html,
body {
  justify-content: center;
  align-items: center;
  height: 100%;
  font-family: var(--primary-font);
  background-color: var(--body-bg-color);
}

.main {
  width: 40rem;
  padding: 1.5rem 3.5rem 3.5rem;
  background-color: var(--main-bg-color);
  border-radius: 1rem;
  border-bottom-right-radius: 10rem;
}

.form__list {
  width: fit-content;
  gap: 1.5rem;
  list-style-type: none;
}

.form__label {
  font-size: .7rem;
  font-weight: bold;
  letter-spacing: .2rem;
  color: var(--label-color);
}

.form__label--error {
  color: var(--error-color);
}

.form__input {
  width: 7rem;
  height: 3rem;
  margin-top: .4rem;
  padding: 0 1rem;
  font: bold 1.5rem var(--primary-font);
  border: 0.0625rem solid var(--lightgray-color);
  border-radius: .4rem;
  caret-color: var(--purple-color);
  outline: none;
}

.form__input::-webkit-inner-spin-button,
.form__input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.form__input--error {
  border-color: var(--error-color);
}

.form__input:focus {
  border-color: var(--purple-color);
}

.form__input::placeholder {
  color: var(--placeholder-color);
}

.input__error-text {
  margin: .5rem 0 0;
  font-size: .7rem;
  font-style: italic;
}

.main__divider {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: .0625rem;
  margin-top: 3rem;
  background-color: var(--divider-color);
}

.main__button {
  width: 6rem;
  height: 6rem;
  background: url("../images/icon-arrow.svg") no-repeat center
    var(--purple-color);
  border: none;
  border-radius: 3rem;
  cursor: pointer;
}

.main__button:hover {
  background-color: var(--button-hover-color);
}

.age {
  margin-top: 2rem;
}

.age__years-title,
.age__months-title,
.age__days-title {
  height: 6rem;
  font: italic 800 5rem var(--primary-font);
}

.age__calc-years,
.age__calc-months,
.age__calc-days {
  padding-right: .7rem;
  color: var(--purple-color);
}

@media screen and (max-width: 768px) {
  .main {
    width: auto;
    padding: 1.5rem 2rem 3rem;
  }

  .form,
  .form__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .form__body {
    width: fit-content;
  }

  .form__input {
    width: 5rem;
  }

  .input__error-text {
    width: 6rem;
  }

  .main__divider {
    justify-content: center;
  }

  .main__button {
    width: 4rem;
    height: 4rem;
    background-size: 2rem;
  }

  .age {
    margin-top: 4rem;
  }

  .age__years-title,
  .age__months-title,
  .age__days-title {
    height: 5rem;
    font-size: 4rem;
  }
}

@media screen and (max-width: 470px) {
  .main {
    padding: 1.5rem 2rem 3rem;
  }

  .form__list {
    gap: .7rem;
  }

  .form__input {
    width: 3.3rem;
    font-size: 1.2rem;
  }

  .input__error-text {
    width: 4rem;
  }

  .age__years-title,
  .age__months-title,
  .age__days-title {
    width: fit-content;
    height: 4rem;
    font-size: 3.3rem;
  }
}

@media screen and (max-width: 355px) {
  .main {
    padding: 1.5rem 1.5rem 3rem;
  }

  .form__label {
    font-size: .5rem;
  }

  .form__input {
    width: 2.7rem;
    font-size: 1rem;
  }

  .age__years-title,
  .age__months-title,
  .age__days-title {
    font-size: 3rem;
  }
}
